{% extends 'inventory/rollingstock/engines.html' %}
{% load markdown %}

{% block html_title %}
    {{ block.super }} - {{ klass }}
{% endblock %}

{% block content %}
    <h1>{{ klass.html }}</h1>
    {{ klass.description|markdown }}
    <h2>Fahrzeugliste</h2>
    <table class="table-responsive">
    <tbody>
    {% for vehicle in vehicles %}
        <tr>
        <td class="fit-to-content">
            <a href="#">{{ vehicle.vehicle }}</a>{% if vehicle.vehicle.name %}<br>{{ vehicle.vehicle.name }}{% endif %}
            {% if vehicle.vehicle.coat_of_arms %}
                <br>
                <img class="coat-of-arms" alt="Wappen {{ vehicle.vehicle.name }}" src="{{ vehicle.vehicle.coat_of_arms.src }}">
            {% endif %}
            <br>
            <i>{{ vehicle.configurations.article }}</i>
        </td>
        <td>
            {% if vehicle.configurations.picture %}
                <a href="{{ vehicle.configurations.picture.src }}"
                   data-lightbox="{{ vehicle.vehicle.klass.slug }}"
                   data-title="{{ vehicle.configurations.picture.author }} | {{ vehicle.configurations.picture.license }}"
                ><img alt="{{ vehicle }}" style="width: 100%; max-width: 42rem;"
                      src="{{ vehicle.configurations.picture.src }}"
                      srcset="{{ vehicle.configurations.picture.srcset }}">
                </a>
            {% else %}
                &nbsp;
            {% endif %}
        </td>
        </tr>
    {% endfor %}

    </tbody>
    </table>
{% endblock %}
