[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
django-debug-toolbar = "*"
django-storages = "*"
django-taggit = "*"
taggit-selectize = "*"
mistune = "*"
"psycopg2" = "*"
Django = "<3.0.0"
Pillow = "*"
PyPrind = "*"
uWSGI = "*"
