{% load staticfiles %}
{% load navigation %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>viafier.com</title>

    <link href="{% static 'vendor/normalize.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/source-sans-pro/source-sans-pro.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/lightbox2/css/lightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'viafier.css' %}" rel="stylesheet">

</head>
<body>
<nav id="main">
    <ul>
        <li class="nav-title"
        ><div>&colon; &colon;</div><a href="{% url 'common:home' %}">viafier.com</a></li>
        <li {% navactive 'inventory:rollingstock' %}
        ><a href="{% url 'inventory:rollingstock' %}">Rollmaterial</a></li>
        {% if user.is_staff %}
        <li {% navactive 'inventory:index' %}
        ><a href="{% url 'inventory:index' %}">Inventar</a></li>
        {% endif %}
    </ul>
    {% block subnav %}
    {% endblock %}
</nav>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<footer>
    <a href="https://creativecommons.org/licenses/by-sa/4.0/"
    >CC BY-SA 4.0</a>
    &nbsp;|&nbsp;
    <a href="mailto:feedback@viafier.com">Feedback</a>
    {% if user.is_authenticated %}
        &nbsp;|&nbsp;
        Angemeldet als <strong>{{ user.username }}</strong>
        &nbsp;|&nbsp;
        <a href="{% url 'logout' %}">abmelden</a>
    {% else %}
        &nbsp;|&nbsp;
        <a href="{% url 'login' %}">anmelden</a>
    {% endif %}
</footer>
<script src="{% static 'vendor/jquery.min.js' %}"></script>
<script src="{% static 'vendor/lightbox2/js/lightbox.min.js' %}"></script>
<script src="{% static 'menu.js' %}"></script>
</body>
</html>
