{% extends 'base.html' %}
{% load currency %}
{% load inventory %}

{% block html_title %}
    {{ block.super }} - Inventar
{% endblock %}

{% block content %}
    <h1>Inventar</h1>
    <div style="overflow-x: auto; padding: 1px;"><table style="table-layout: fixed">
        <thead>
        <tr>
            <th>#</th>
            <th>Artikel</th>
            <th colspan="2">Beschreibung</th>
            <th>Kaufdatum</th>
            <th>Kaufpreis</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for article in article_list %}
            {% with article_rowspan=article.configuration_count %}
                {% for configuration in article.configurations.all %}
                    {% with forloop.counter|divisibleby:2|yesno:'even,odd' as zebra %}
                    {% for assembly in configuration.assemblies.all %}
                        <tr class="{{ forloop.parentloop.parentloop.counter|divisibleby:2|yesno:'even,odd' }}">
                            {% if forloop.first %}
                                {% if forloop.parentloop.first %}
                                    <td class="border-top nowrap border-right-light"
                                        rowspan="{{ article_rowspan }}">{{ forloop.parentloop.parentloop.counter }}</td>
                                    <td class="border-top nowrap border-right-light"
                                        rowspan="{{ article_rowspan }}"
                                    >{{ article.manufacturer }} {{ article.number }}</td>
                                {% endif %}
                                {% with forloop.parentloop.first|yesno:' border-top,' as border %}
                                    <td class="{{ zebra }}{{ border }} nowrap"
                                        rowspan="{{ configuration.assemblies.count }}"
                                    >{{ configuration.vehicle.html }}</td>
                                    <td class="{{ zebra }}{{ border }} nowrap">
                                {% endwith %}
                            {% else %}
                                <td class="{{ zebra }} nowrap">
                            {% endif %}
                            {{ assembly.assembly.type }}
                            {{ assembly.assembly.name }} {{ assembly.assembly.number|default_if_none:"" }}
                            </td>
                            {% if forloop.first and forloop.parentloop.first %}
                                <td class="border-top border-left-light"
                                    rowspan="{{ article_rowspan }}"
                                    title="{{ article.status|article_status_verbose }}"
                                >{{ article.purchased|date:"SHORT_DATE_FORMAT"|default:_('unknown') }}</td>
                                <td class="border-top border-left-light"
                                    rowspan="{{ article_rowspan }}"
                                    title="{{ article.vendor|default_if_none:_('private sale') }}"
                                >{{ article.price|default_if_none:0|currency }}</td>
                                <td class="border-top border-left-light"
                                    style="max-width: 500px"
                                    rowspan="{{ article_rowspan }}">
                                    {% if configuration.picture %}
                                        <a href="{{ configuration.picture.src }}"
                                           data-lightbox="{{ configuration.picture }}"
                                        ><img style="max-width: 100%; min-width: 150px;"
                                             src="{{ configuration.picture.src }}"
                                             srcset="{{ configuration.picture.srcset }}">
                                        </a>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        {% with forloop.first|yesno:' border-top,' as border %}
                            <tr class="{{ forloop.parentloop.counter|divisibleby:2|yesno:'even,odd' }}">
                                {% if forloop.first %}
                                    <td class="border-top nowrap border-right-light"
                                        rowspan="{{ article_rowspan }}">{{ forloop.parentloop.counter }}</td>
                                    <td class="border-top nowrap border-right-light"
                                        rowspan="{{ article_rowspan }}"
                                    >{{ article.manufacturer }} {{ article.number }}</td>
                                {% endif %}
                                <td class="{{ zebra }}{{ border }}"
                                    colspan="2"
                                >{{ configuration.vehicle.html }}</td>
                                {% if forloop.first %}
                                    <td class="border-top border-left-light nowrap"
                                        rowspan="{{ article_rowspan }}"
                                        title="{{ article.status|article_status_verbose }}"
                                    >{{ article.purchased|date:"SHORT_DATE_FORMAT"|default:_('unknown') }}</td>
                                    <td class="border-top border-left-light nowrap"
                                        rowspan="{{ article_rowspan }}"
                                        title="{{ article.vendor|default_if_none:_('private sale') }}"
                                    >{{ article.price|default_if_none:0|currency }}</td>
                                    <td class="border-top border-left-light"
                                        style="max-width: 500px"
                                        rowspan="{{ article_rowspan }}">
                                        {% if configuration.picture %}
                                            <a href="{{ configuration.picture.src }}"
                                               class="strip"
                                               data-strip-group="inventory"
                                               data-strip-caption="{{ configuration.picture.author }} | {{ configuration.picture.license }}"
                                            ><img style="max-width: 100%; min-width: 150px;"
                                                  src="{{ configuration.picture.src }}"
                                                  srcset="{{ configuration.picture.srcset }}">
                                            </a>
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    {% endwith %}
                {% endfor %}
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
