{% extends 'base.html' %}
{% load navigation %}
{% block subnav %}
    <nav id="sub">
        <ul>
            <li {% navactive 'inventory:rollingstock-engines' %}
            ><a href="{% url 'inventory:rollingstock-engines' %}">Streckenloks</a></li>
            {% comment %}
            <li {% navactive 'inventory:rollingstock-motor-coaches' %}
            ><a href="{% url 'inventory:rollingstock-motor-coaches' %}">Triebwagen und -züge</a></li>
            <li {% navactive 'inventory:rollingstock-service-engines' %}
            ><a href="{% url 'inventory:rollingstock-service-engines' %}">Bahndienst- und Rangierloks</a></li>
            <li {% navactive 'inventory:rollingstock-coaches' %}
            ><a href="{% url 'inventory:rollingstock-coaches' %}">Personen- und Gepäckwagen</a></li>
            <li {% navactive 'inventory:rollingstock-freight-wagons' %}
            ><a href="{% url 'inventory:rollingstock-freight-wagons' %}">Güterwagen</a></li>
            {% endcomment %}
        </ul>
    </nav>
{% endblock %}
{% block content %}
    <h1>Rollmaterial</h1>
{% endblock %}
