{% extends 'inventory/rollingstock.html' %}
{% load markdown %}
{% load navigation %}

{% block subnav %}
{{ block.super }}
<nav id="subsub">
    <ul>
        {% for klass in klasses %}
            <li {% navactive_exact 'inventory:rollingstock-motorcoaches-class' klass.slug %}
            ><a href="{% url 'inventory:rollingstock-motorcoaches-class' klass.slug %}">{{ klass.html }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}


{% block content %}
    <h1>Baureihen</h1>
    {% for klass in klasses %}
        <h2>{{ klass.html }}</h2>
        {{ klass.description|markdown }}
    {% endfor %}
{% endblock %}
