{% extends 'base.html' %}
{% block content %}
    <h1>Willkommen bei viafier.com</h1>
    <div class="markdown">
        <p>Hier ensteht die Dokumentation zu meiner Epoche VI Modelleisenbahn nach
            dem Vorbild der Rhätischen Bahn.</p>
        <p>Neben einem ausführlichen Rollmaterialverzeichnis, Bauberichten und
            Umbauanleitungen, werden hier auch Bilder und Informationen zum Original zu
            finden sein.</p>
        <p>Die Seite befindet sich zur Zeit noch in einer Aufbauphase. Feedback und
            Korrekturen nehme ich gerne unter
            <a href="mailto:feedback@viafier.com">feedback@viafier.com</a> entgegen.</p>
    </div>
{% endblock %}
